.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img{
  width:400px;
}
#calculate
{
  text-align: center;
  border: 1px solid #e6e6e6;
}
li{
  list-style-type: none;
  border:1px solid #e6e6e6;
  text-align: left;
  margin-right:10px;
  padding:20px;
  font-weight:bold;
  font-size:20px;
}
h2
{
  margin-left:30px;
  
}
